@use "element/mixin";
@use "element/variables";

.calc {
  padding: 80px 0;
  background-color: variables.$color-light-grey

    //@include tablet {
    //  padding: 30px 15px;
    //}

  h2 {
    text-align: center;
  }

  &__columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: flex;

    //@include tablet {
    //  display: block;
    //}
  }

  &__form {
    width: 50%;
    margin-right: 20px;
    //
    //  @include tablet {
    //    width: 100%;
    //    margin-right: 0;
    //  }
  }


  &__input input,
  &__select .select__input {
    color: variables.$color-grey;
    width: 100%;
    border-radius: 6px;
    border: 1px solid variables.$color-primary;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0px 3px 6px variables.$color-primary-shadow;
    margin-bottom: 20px;
    background-color: variables.$color-white;
  }

  &__input {
    input {
      &::placeholder {
        color: variables.$color-grey;
      }
    }
  }

  &__select {
    position: relative;

    .select__input {
      position: relative;
      height: 40px;
      vertical-align: middle;
      padding: 13px 20px;
      cursor: pointer;

      //&::after {
      //  content: "";
      //  background-image: url("imge/Arrow.svg");
      //  width: 22px;
      //  height: 22px;
      //  display: block;
      //  position: absolute;
      //  right: 14px;
      //  top: 9px;
      //}
    }




    &.open {
      .select__input::after {
        transform: rotate(180deg);
      }

      .select__dropdown {
        //display: block;
      }
    }
  }

  .form__checkbox {
    .consent__text {
      padding-top: 4px;
    }
  }

  &__summary {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    //@include tablet {
    //  width: 100%;
    //  margin-left: 0;
    //  margin-top: 30px;
    //}

    .summary__total,
    .list__item {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      color: variables.$color-white;
      font-size: 0.875rem;
      display: none;


    }

    .summary__total {
      width: 50%;
      align-self: flex-end;
      margin-top: 22px;
      padding: 8px 20px;
      background-color: variables.$color-primary;

      .total__price {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: left;
      }
    }

    .list__item {
      padding: 6px 20px;
      background-color: variables.$color-green;
      margin-bottom: 8px;

      .item {
        &__price {
          font-weight: 700;
          font-size: 1.125rem;



        }
      }
    }
  }
}

.select__dropdown {
  //display: none;
  position: relative;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  border: 1px solid variables.$color-redish;
  overflow: hidden;
  bottom: 270px;

  li {
    font-size: 13px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: variables.$color-light-grey;
        content: "";

    }
  }
}


.form__checkbox input:checked ~ .checkbox{
  background-image: url("./imge/Checkmark.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50%; border: 1px solid variables.$color-grey;
  border-radius: 4px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}
.form__checkbox{
  position: relative;
  bottom: -10px;
  input{
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
  .checkbox {
    background-color: variables.$color-white;
    border: 1px solid variables.$color-grey;
    border-radius: 4px;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }
  p{
    margin: 50px;
  }
}
.temporaryNamber1{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}

.temporaryNamber1{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}

.temporaryNamber1{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}

.temporaryNamber2{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}

.temporaryNamber3{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}
.temporaryNamber4{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}
.temporaryNamber5{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}

.temporaryNamber6{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}

.temporaryNamber7{
  background-color: #55dfb4;
  height: 200px;
  width: 200px;
  font-weight: 700;
  font-size: 80px;
  display: none;
}





